.profile{
    margin: auto;
    text-align: center;
}
.profileImage{
    height: 150px;
}
.detailTitle{
    color: #989aa2;
    margin-bottom: 10px;
}
h1{
    font-size: 18px;
}
.favorite{
    margin-right: 5px;
}
