<ion-header>
    <ion-toolbar>
      <ion-title>
        Contacts
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button shape="round" class="favorite" (click)="makeFavorite()" >
            <img [src]="contact?.isFavorite ? favoriteIconTrue: favoriteIconFalse">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>    
    <ion-list>
        
        <ion-item >
            <div  class="profile ion-padding" >
                <ion-img class="profileImage" [src]="contact?.largeImageURL" alt="" (ionImgDidLoad)="imgLoaded($event)" (ionError)="imgError($event)"></ion-img>
                <h2>{{contact?.name}}</h2>
                <h5 class="detailTitle">{{contact?.companyName}}</h5> 
            </div>
        </ion-item>

      
        <ion-item>
            <ion-label>
                <h5 class="detailTitle">PHONE:</h5>
                <h1>{{contact?.phone.home== undefined ? "-" : contact?.phone.home}}</h1>
            </ion-label>  
            <ion-note color="medium" slot="end">
                <h5>Home</h5>
            </ion-note>
        </ion-item>

        <ion-item>
            <ion-label>
                <h5 class="detailTitle">PHONE:</h5>
                <h1>{{contact?.phone.mobile == undefined ? "-" : contact?.phone.mobile}}</h1>
            </ion-label> 
            <ion-note color="medium" slot="end">
                <h5>Mobile</h5>
            </ion-note> 
        </ion-item>

        <ion-item>
            <ion-label>
                <h5 class="detailTitle">PHONE:</h5>
                <h1>{{contact?.phone.work  == undefined ? "-" : contact?.phone.work}}</h1> 
            </ion-label>  
            <ion-note color="medium" slot="end">
                <h5>Work</h5>
            </ion-note>
        </ion-item>

        <ion-item>
            <ion-label>
                <h5 class="detailTitle">ADDRESS:</h5>
                <h1>{{contact?.address.street}}</h1>
                <h1>{{contact?.address.city}}, {{contact?.address.zipCode}}, {{contact?.address.country}}</h1>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h5 class="detailTitle">BIRTHDATE:</h5>
                <h1>{{contact?.birthdate}}</h1>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h5 class="detailTitle">EMAIL:</h5>
                <h1>{{contact?.emailAddress}}</h1>
            </ion-label>
        </ion-item>

    </ion-list>
   
  </ion-content>