<ion-header >
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="light">
      FAVORITE CONTACTS
    </ion-list-header>

    <ion-item [routerLink]="'/detail/' + contact.id"  *ngFor="let contact of contactService.getFavoriteContacts()" >
     
        <ion-avatar slot="start">
          <img src="{{contact.smallImageURL}}"  onerror="this.onerror=null; this.src='../../assets/UserSmall/User_Icon_Small.png'">
        </ion-avatar> 
        <ion-icon name="star" color="warning"></ion-icon>
        <ion-label>
          <h2>{{contact.name}}</h2>
          <p>{{contact.companyName}}</p>
        </ion-label>
    
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header color="light">
      OTHER CONTACTS
    </ion-list-header>

    <ion-item [routerLink]="'/detail/' + contact.id" *ngFor="let contact of contactService.getOtherContacts()" >
      
          <ion-avatar slot="start">
            <img src="{{contact.smallImageURL}}" onerror="this.onerror=null; this.src='../../assets/UserSmall/User_Icon_Small.png'">
          </ion-avatar>
          <ion-label>
            <h2>{{contact.name}}</h2>
            <p>{{contact.companyName}}</p>
          </ion-label>
        
      </ion-item>

 
  </ion-list>
</ion-content>
